<div class="header-container">
  <a href="index.html"
    ><img
      src="./images/logo-661013_1280.webp"
      alt="pixabay"
      width="300"
      class="logo-img"
  /></a>

  <form class="search-form" id="search-form">
    <input
      class="find-input"
      type="text"
      name="searchQuery"
      autocomplete="off"
      placeholder="Search images..."
      onFocus="this.select()"
    />
    <button class="btn" type="submit">
      <span class="btn-text">Search</span>
    </button>
  </form>
</div>
